<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <% image_url = book.cover.attached? ? url_for(book.cover) : "" %>
    <img class="card-img-top" data-src="<%= image_url %>" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="<%= image_url %>" data-holder-rendered="true">
    <div class="card-body">
      <h5 class="card-title"><%= book.title %></h5>
      <p class="card-text"><%= book.description.first(30) %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to "View", book, class: "btn btn-success" %>
          <%= link_to "Edit", edit_book_path(book), class: "btn btn-sm btn-outline-secondary" %>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
    <div class="card-footer min-height-49">
       <% book.genre_list.each do |genre| %>
          <%= link_to genre, books_path(tag: genre), class: "badge badge-secondary"  %>
        <% end %>
    </div>
  </div>
</div>