<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :descriptions %>
    <%= form.text_area :descriptions %>
  </div
  
   <div class="field">
    <%= form.label :cover %>
    <%= form.file_field :cover %>
    <% if book.cover.present? %>
    <%= image_tag url_for(book.cover) %>
    <% end %>
  </div>
  
   <div class="field">
    <%= form.label :realated_images%>
    <%= form.file_field :realated_images, multiple: true %>
    <% if book.realated_images.present? %>
      <% book.realated_images.each do |image| %>
       <%= image_tag url_for(image)%>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
