<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :cover %>
    <%= form.file_field :cover %>
    <% if book.cover.attached? %>
      <%= image_tag url_for(book.cover), size: "200x200" %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :related_images %>
    <%= form.file_field :related_images, multiple: true %>
    <% if book.related_images.any? &:attached? %>
      <% book.related_images.each do |image| %>
        <%= image_tag url_for(image), size: "100x100" %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
