<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Album example</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p>
      <%= link_to "New Book", new_book_path, class: "btn btn-primary my-2 text-white" %>
    </p>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <%= form_with url: books_path, method: :get, local: true do |f| %>
      <div class="form-row">
        <div class="input-group mb-3">
          <%= f.text_field :query, value: params[:query], class: "form-control", placeholder: "Book's title", aria: { label: "Book's title", describedby: "button-addon2" } %>
          <div class="input-group-append">
            <%= f.submit "Search", class: "btn btn-outline-secondary"%>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <% @books.each do |book| %>
        <%= render partial: "book", locals: { book: book } %>
      <% end %>
    </div>
  </div>
</div>
 